numpy==2.0.0
matplotlib==3.3.2
seaborn==0.10.1
pandas==1.1.3
scikit-learn==0.22.2
plotly==4.11.0
streamlit==0.67.1
setuptools==65.5.0
wheel==0.38.4
cython==0.29.34
pyproject-hooks==1.0.0
streamlit==1.19.0
